
<div class="flex flex-col md:items-end md:flex-row">
    <a href="https://www.christensenfund.org/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/tcf-logo.png"></a>
    <a href="https://www.darwininitiative.org.uk/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/darwininst-logo.png"></a>
    <a href="https://www.fordfoundation.org/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/fordfoundation-logo.png"></a>
    <a href="https://www.mcknight.org/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/mcknight-logo.png"></a>
    <a href="https://swed.bio/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/swedbio-logo.png"></a>
</div>