
<p>
    Work has been funded by:
</p>
<div class="grid grid-cols-2 gap-2 md:flex md:flex-row md:items-end"> 
    <a href="https://www.christensenfund.org/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/tcf-logo.png" alt=""></a>
    <a href="https://www.darwininitiative.org.uk/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/darwininst-logo.png" alt=""></a>
    <a href="https://www.fordfoundation.org/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/fordfoundation-logo.png" alt=""></a>
    <a href="https://www.mcknight.org/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/mcknight-logo.png" alt=""></a>
    <a href="https://swed.bio/"><img src="https://stage.bch.iied.org/sites/default/files/2025-03/swedbio-logo.png" alt=""></a>
</div>

<div class="pb-12"></div>
<div class="flex flex-col md:items-end md:flex-row"></div>
    


<div class="grid grid-cols-2 gap-2 py-12 md:grid-rows-2 md:grid-flow-col lg:flex lg:flex-row lg:items-end">
    <a href="https://www.andes.org.pe"><img src="/sites/default/files/2025-06/andes-logo_0.png" alt="Association ANDES"></a>
    <a href="https://www.fsnseed.org/"><img src="/sites/default/files/2025-06/farmer-seed-logo_0.png" alt="Farmers' Seed Network"></a>
    <a href="https://inmip.net"><img src="/sites/default/files/2025-06/inmip-logo_0.png" alt="INMIP International Network of Mountain Indigenous People"></a>
    <a href="https://www.kefri.org/home.html"><img src="/sites/default/files/2025-06/kefri-logo_0.png" alt="KEFRI"></a>
    <a href="https://lokchetnamanch.in/"><img src="/sites/default/files/2025-06/lok-chetna-manch-logo_0.png" alt="Lok Chetna Manch"></a>
    <a href="https://parquedelapapa.org"><img src="/sites/default/files/2025-06/potato-park-logo_0.png" alt="Potato Park"></a>
    <a href="https://www.saltnet.org"><img src="/sites/default/files/2025-06/salt-logo_0.png" alt="Society for Alternative Learning and Transformation"></a>
    <a href="https://www.ttw.nz/our-people-kÄhui"><img src="/sites/default/files/2025-07/te-tira-whakamataki-logo.png" alt="Te Tira WhakamÄtaki"></a>
    <a href="https://www.coventry.ac.uk/"><img src="/sites/default/files/2025-07/university-coventry-logo.png" alt="Coventry University"></a>
    <a href="https://www.leeds.ac.uk/"><img src="/sites/default/files/2025-06/leeds-logo_0.png" alt="University of Leeds"></a>
</div>