

<section class="max-w-4xl pt-12 pb-24 mx-auto">

    <h2>
        Stay informed
    </h2>
    <p>
        Receive occasional updates on our work with Indigenous communities, biodiversity, and landscapes.
    </p>
    <!-- Begin CD Form -->
    <div id="clickdimform">
        <script type="text/javascript">var loc = "https://analytics-eu.clickdimensions.com/iiedorg-asnkj/pages/";</script><script type="text/javascript" src="https://az551914.vo.msecnd.net/web/v10/CDWidget.js"></script>
        <div pageid="dn6pgwhteeibo3aqb6x9mq">
            &nbsp;
        </div>
    </div>
    <!-- end CD form -->
    <p>
        All information submitted is protected by <a href="https://www.iied.org/privacy-policy">IIED's privacy policy</a>.
    </p>

</section>