
<section class="px-0 mx-0 mb-4 bg-bc-sage-100 rounded-3xl sm:px-4 sm:mx-2 md:mx-4">
    <div class="container grid items-center grid-cols-1 gap-12 px-4 py-6 mx-auto overflow-hidden lg:gap-24 md:grid-cols-2 sm:px-0">
        <div class="mb-6 prose prose-lg">
            <h2>
                Resources
            </h2>
            <p class="mb-6">
                A curated collection of publications, research, news, and partner recommendations. All focused on advancing the understanding and preservation of biocultural heritage.
            </p>
            <p>
                <a class="flex items-center mb-4 space-x-2 prose prose-lg group" href="/resources" title="Explore resources"><span>Explore resources</span><span class="inline-block p-2 ml-1 group-hover:bg-bc-yellow-500 bg-bc-coral-300 rounded-full transform duration-150 ease-in group-hover:translate-x-0.5"><svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg></span></a>
            </p>
        </div>
        <div class="flex items-center justify-center">
            <img class="object-cover rounded-3xl" alt="Resources collage of photos" src="https://stage.bch.iied.org/sites/default/files/2025-03/resources-collage.jpg">
        </div>
    </div>
</section>
