@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:ital,wght@400,700&display=swap');

@theme {
    --font-display: "Noto Serif", serif; 
    --font-body: "Noto Sans", sans-serif;
    --bchorange-500: oklch(77% 0.1531 62.86);
    --bchyellow-500: oklch(86% 0.1769 90.8); 
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }

  p {
    font-family: var(--font-body);
  }
}

@layer components {
    .typography {
      color: var(--color-gray-950);
      a {
        color: var(--color-blue-500);
        &:hover {
            color: var(--color-blue-800);
        }
      }
    }, 
    .prose {
        font-family: var(--font-body);
    }
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-family: var(--font-display);
  }
}
