@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:ital,wght@0,400;1,700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
    --font-display: "Noto Serif", serif; 
    --font-body: "Noto Sans", sans-serif;
    --color-bc-coral-500: oklch(67.05% 0.1838 30.37);
    --color-bc-coral-400: oklch(0.7188 0.1482 61.77);
    --color-bc-coral-300: oklch(77% 0.1531 62.86);
    --color-bc-yellow-500: oklch(86% 0.1769 90.8); 
    --color-bc-yellow-300: oklch(89.22% 0.1206 95.27);
    --color-bc-sage-200: oklch(93.89% 0.0257 94.74);
    --color-bc-sage-100: oklch(96.13% 0.0111 89.72);
    --color-bc-sage-50: oklch(98.45% 0.0067 97.35);
    --cyan-light: oklch(93.42% 0.0223 203.69);
    --hero-background: url('../images/bch-hero.svg');
}

@layer base {
    :root {
    --font-display: 'Noto Serif', serif;
    --font-body: 'Noto Sans', sans-serif;
  }

  body {
    font-family: var(--font-body); 
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }

  p {
    font-family: var(--font-body);
    color: var(--color-gray-950);
  }

  nav, header, footer, aside, button, input, textarea, select {
    font-family: var(--font-body);
    color: var(--color-gray-950);
  }
}

@layer components {
    .typography {
      color: var(--color-gray-950);
    }

    .prose {
        font-family: var(--font-body);
    }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    font-family: var(--font-display);
  }
}

@layer utilities {

  .prose {
    font-family: var(--font-body);
    max-width: 72ch;
  }

  .prose a {
    color: var(--color-blue-700);
    &:hover {
        color: var(--color-blue-800);
    }
    &:visited {
        color: var(--color-blue-900);
    }
  }
}

  h2 .field--name-field-heading {
    @apply text-3xl lg:text-4xl font-normal;
}

.page-title {
    @apply text-4xl lg:text-5xl xl:text-6xl tracking-tight text-bc-coral-500;
  }

  h1.page-title {
    @apply mt-4;
}  

.media--type-remote-video iframe.media-oembed-content {
    @apply aspect-video rounded-2xl;
}

.media--view-mode-_6-9-large img {
 @apply rounded-2xl;
}

.views-view-responsive-grid__item-inner {
    @apply h-full;
}

/* tab block */
/* .horizontal-tab-button {
    @apply bg-white hover:bg-bc-yellow-500 rounded-full max-w-md mb-3 transition-colors duration-300 ease-in-out shadow-sm;
}
    .horizontal-tab-button.selected {
        @apply bg-bc-yellow-500 mb-3 border-0;
    }

    .horizontal-tab-button a {
        @apply w-full px-6 xl:px-12 py-6 block whitespace-nowrap text-center;
    } */

/* Temp fix shouldn't be needed */

.xxl\:flex {
    @media (width >= 96rem) {
      display: flex;
    }
}

.xl\:flex {
    @media (width >= 80rem) {
      display: flex;
    }
}

.lg\:flex {
    @media (width >= 64rem) { 
      display: flex;
    }
}

.lg\:block {
  @media (width >= 64rem) { 
    display: block;
  }
}

/* Menus and Navigation */
.toc nav a.active {
  @apply text-bc-coral-500 font-medium border-l-3 border-bc-coral-500 ml-[-2px];
}

.menu--main .menu .menu-item--active-trail {
  @apply border-bc-coral-500 border-b-2;
}

.off-canvas-menu .menu-item--active-trail a {
  @apply bg-bc-sage-100 text-bc-coral-500;
}


.menu--main .menu  {
    @apply flex items-end justify-center md:mr-auto md:ml-4 md:pl-4 whitespace-nowrap;
  }

.menu--main .menu-item {
    @apply text-gray-900 text-lg border-b-2 border-transparent h-full transition-colors duration-300 pb-1 xl:mx-5 2xl:mx-6;

    &:hover {
        @apply border-bc-coral-500 text-bc-coral-500;
    }
    &:visited {
        @apply text-gray-900;
    }
  }

.off-canvas-menu .menu, .off-canvas-menu .menu-item {
  @apply ml-0;
}

.off-canvas-menu .menu-item a {
    @apply text-gray-900 text-lg border-b-2 border-transparent h-full transition-colors duration-300 px-4 py-2 rounded-xl block mb-2;

    &:hover {
        @apply bg-bc-sage-50 text-bc-coral-500;
    }
}

[x-cloak] { display: none !important; }

/* sign up form */

#clickd .clickdform input[type="text"], 
.clickdimensions .clickdform input[type="text"] 
{
  @apply h-9 border border-neutral-300 rounded-lg px-4 py-2 min-w-sm sm:min-w-md;
}
#clickd #btnSubmit,
.clickdimensions #btnSubmit
 {
  @apply px-4 py-3 border-none rounded-full bg-bc-coral-300 cursor-pointer font-body text-gray-800 transition-colors duration-150 shadow-sm hover:shadow-none hover:bg-bc-coral-400;
}
.clickdform.mainDiv {
  height: 100% !important;
}

.path-resources .page-title {
  @apply pt-12;
}

.pager__item.is-active {
  @apply bg-bc-coral-500 text-white;
}

.field--name-field-media-caption p {
  @apply text-neutral-500;
}

button.cn-decline.klaro-close {
visibility: hidden;
}

#klaro-cookie-notice button.cn-decline.klaro-close {
  visibility: inherit;
}

.table-styles {
  @apply !max-w-none !w-full table-auto border-collapse;

  & thead th {
    @apply px-4 py-2 text-left font-semibold uppercase tracking-wider bg-gray-100 text-gray-700 border-b-2 border-gray-200;
  }

  & tbody td {
    @apply px-4 py-2 border-b border-gray-200 text-gray-800;
  }

  & tbody tr:nth-child(even) {
    @apply bg-gray-50; /* Subtle zebra striping */
  }
}

.path-frontpage .bg-header {
  @apply bg-cyan-100;
}
