{% extends '@bch_tw/templates/layout/page.html.twig' %} 
{% block mainarea %}

<div class="h-full mx-0 mb-4 overflow-hidden rounded-b-3xl bg-linear-to-t from-bc-sage-100 to-cyan-100 sm:mx-2 md:mx-4">
  <div class="bg-[url('/themes/custom/bch_tw/images/bch-scene.svg')] bg-contain bg-bottom bg-no-repeat">
    <div class="container px-4 mx-auto sm:px-0 layout-container"> 
      {{ page.highlighted }}
    </div>
  </div>
</div>

  {{ page.help }}

  {{ page.content }}

{% endblock %}